[submodule "fstools"]
	path = fstools
	url = https://git.mount-mockery.de/pylib/fstools.git
[submodule "mycreole"]
	path = mycreole
	url = https://git.mount-mockery.de/django_lib/mycreole.git
[submodule "themes"]
	path = themes
	url = https://git.mount-mockery.de/django_lib/themes.git
[submodule "users"]
	path = users
	url = https://git.mount-mockery.de/django_lib/users.git
[submodule "stringtools"]
	path = stringtools
	url = https://git.mount-mockery.de/pylib/stringtools.git
